/**
 *
 * Logo.
 *
 */


// Logo styling.
// This handles the default logo behaviour whether it is sticky or not.
.logo,
.logo.is-sticky,
.is-frontpage .logo.is-sticky {
  position: absolute;
  top: 1.4em;
  left: $layout-padding;
  z-index: z($z-index-elements, logo);
  overflow: hidden;

  display: block;
  height: 2.6em;
  width: 10em;

  @include breakpoint($breakpoint-desk) {
    position: fixed;
  }

  // Using full class because of chained selector (logo.is-sticky).
  .logo--shape {
    fill: $black;
  }

  // Adjusted height for IE
  figure {
    height: 100%;
  }
}

// Specific override when viewing the frontpage.
// In this case the logo should show the text below and be slightly bigger on big screens.
.is-frontpage {
  .logo {
    @include breakpoint($breakpoint-bigscreen) {
      top: 1.5em;

      height: 5em;
      width: 15em;

      transition: all .35s;
    }

    &--shape {
      fill: $white;
    }
  }
}
