/**
 *
 * Content.
 *
 */


&.is-page .content {
  &--inner {
    position: relative;
    z-index: z($z-index-elements, content);

    background-color: rgba(255, 255, 255, 1);

    @include breakpoint($breakpoint-bigscreen) {
      padding-right: $layout-padding;
      padding-left: $layout-padding;
    }
  }
}

.content {
  min-height: 100%;

  &--inner {
    margin-right: auto;
    margin-left: auto;
    max-width: $breakpoint-desk;
    min-height: 20em;

    @include word-wrap;

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 8em;
    }
  }

  p + h3,
  p + p {
    margin-top: 2em;
  }

  // Needs nesting inside content for overriding p+p.
  &--inline-link {
    margin-top: 1em;
  }

  &--header,
  &--lead,
  &--meta,
  &--text {
    margin-right: $layout-padding;
    margin-left: $layout-padding;

    @include breakpoint($breakpoint-bigscreen) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  h3,
  h4,
  &--header {
    font-weight: 700;
  }

  &--header,
  &--lead {
    text-align: center;
  }

  &--lead {
    margin-bottom: 1em;
  }

  &--header {
    margin-top: .5em;
    margin-right: 0;
    margin-left: -.075em; // Compensate for font whitespace

    color: $gray-darkest;
    font-size: 2.5em;
  }

  &--meta {
    margin-top: -.5em;
    margin-bottom: 1em;
    padding-bottom: 1em;

    border-bottom: 1px solid $gray-lighter;
    font-weight: 300;
  }

  &--image-wrapper {
    position: relative;

    margin-top: $nav-height;
    margin-bottom: 2.5em;
  }

  &--lead {
    font-family: $font-slab;
    font-size: 1.25em;

    @include breakpoint($breakpoint-tablet) {
      margin-right: 3em;
      margin-left: 3em;
    }

    @include breakpoint($breakpoint-desk) {
      font-size: 1.5em;
    }
  }

  &--text + fieldset {
    margin-top: 3em;
  }

  fieldset {
    margin-right: $layout-padding;
    margin-left: $layout-padding;

    @include breakpoint($breakpoint-desk) {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
