/**
 *
 * ITK box list
 *
 * A component for content boxes
 *
 */


/* Variables
   ========================================================================== */

$boxlist-padding: 1em;


.itk-boxlist {
  margin-top: 3em;

  &--header {
    margin-bottom: 0;

    font-weight: 600;

    a {
      @include strip-link-styles($gray-darker);
    }
  }

  &--header + p,
  &--meta + p {
    margin-top: .75em;
  }

  header {
    p + a {
      display: inline-block;
      margin-top: .75em;
    }
  }

  &--meta {
    color: $gray-light;
  }

  &--link,
  &--link:link,
  &--link:visited {
    order: 4;

    display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 75%;
    padding: .5em 1em;

    background-color: transparent;
    border: 1px solid $link-color;
    border-radius: 5em;
    color: $link-color;
    font-weight: 300;
    text-align: center;
    text-decoration: none;

    box-sizing: border-box;
    transition: background-color .5s, border .5s, color .5s;

    &:hover {
      background-color: $link-color;
      border: 1px solid $link-color;
      color: $white;
    }

    @include breakpoint($breakpoint-desk) {
      max-width: 100%;
    }
  }
}


.itk-boxlist {
  margin-right: $layout-padding;
  margin-left: $layout-padding;

  @include breakpoint($breakpoint-bigscreen) {
    margin-right: 0;
    margin-left: 0;
  }

  &--item {
    @include flexbox;
    @include flex-flow(row nowrap);
  }

  &--item + &--item {
    border-top: 1px solid $gray-lighter;
    margin-top: 2em;
    padding-top: 2em;
  }

  header {
    order: 2;

    @include breakpoint($breakpoint-lap) {
      padding-top: 0;
      padding-right: $boxlist-padding;
      padding-left: $boxlist-padding;

      @include align-self(center);
      @include flex-grow(1);
      @include flex-shrink(1);
    }
  }

  figure {
    margin-right: 1em;

    order: 1;

    @include flex-basis(6em);
    @include flex-shrink(0);
  }
}


.itk-boxlist-gallery {
  margin-top: 3em;
  margin-right: 1.8em;
  margin-left: 1.8em;

  @include flexbox;
  @include flex-flow(row wrap);
  @include justify-content(space-between);

  @include breakpoint($breakpoint-tablet) {
    margin-bottom: 4em;
  }

  &--item {
    margin-right: auto;
    margin-bottom: 4em;
    margin-left: auto;
    position: relative;
    padding-bottom: 3em;

    text-align: center;

    @include flex-flow(column);
    @include flex-basis(40%);

    header {
      order: 1;

      font-size: .75em;
      text-align: center;

      a {
        @include strip-link-styles($gray-darkest);
      }
    }

    figure {
      display: block;
      margin-top: 1.25em;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 1.25em;
      max-width: 5em;
      width: 100%; /* Psst... IE 11 please center the element. Thanks. */

      order: 2;
    }

    p {
      min-height: 3em;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: .5em;

      font-weight: 100;
      text-align: center;
    }

    @include breakpoint($breakpoint-lap) {
      padding-top: 0;

      header {
        text-align: center;

        h2 {
          margin-bottom: 0;

          font-weight: 300;
        }
      }

      figure {
        max-width: 6em;
      }
    }

    @include breakpoint($breakpoint-tablet) {
      @include flex-basis(45%);
    }

    @include breakpoint($breakpoint-desk) {
      @include flex-basis(30%);
    }
  }

  &--link,
  &--link:link,
  &--link:visited {
    order: 4;

    margin-right: auto;
    margin-left: auto;
    padding: .5em 0 .2em;

    border-bottom: 3px solid $gray-darkest;
    color: $gray-darkest;
    font-weight: 300;
    line-height: 2.5em;
    text-align: center;
    text-decoration: none;

    box-sizing: border-box;
    transition: background-color .5s, border .5s, color .5s;

    &:hover {
      background-color: transparent;
      border-bottom: 3px solid $link-color;
      color: $link-color;
    }
  }
}
